@import 'variable.scss';



.box-1{
    height: $h-300;
    width: $w-300;
    background-color: $bg-3;

    .box-2{
        height: $h-200;
        width: $w-200;
        background-color: $bg-2;

        .box-3{
            height: $h-100;
            width: $w-100;
            background-color: $bg-1;
        }
    }
}



