*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    font-family:'Roboto',sans-serif;

}
.container{
    max-width: 1140px;
    height: inherit;
    margin:auto;
    position: relative;
}

/* heding start*/
.top-color{
    background-color: black;
}
.topbar{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 0px;
 font-size: 13px;
 font-weight:900;   
}
.top-text p{
    color: #d3d1d1;
}
.top-text p i{
    color: orange;
    font-size: 15px;
}
.top-select{
    display: flex;
    border: 0px;
}
.selected select{
    background-color: black;
    color: white;
    outline: 0px;
    border: 0px;
    border-right: 1px solid rgb(138,137,137);
}