*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    font-family:'Roboto',sans-serif;

}
.container{
    max-width: 1140px;
    height: inherit;
    margin:auto;
    position: relative;
}

/* heding start*/
.top-color{
    background-color: black;
}
.topbar{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 0px;
 font-size: 13px;
 font-weight:900;   
}
.top-text p{
    color: #d3d1d1;
}
.top-text p i{
    color: orange;
    font-size: 15px;
}
.top-select{
    display: flex;
    border: 0px;
}
.selected select{
    background-color: black;
    color: white;
    outline: 0px;
    border: 0px;
    border-right: 1px solid rgb(138,137,137);
}

/* navigation bar start*/
.border{
    border-bottom: 1px solid grey;
}
.navigation{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:27px;
    padding-bottom:27px;
}
/* 1 shoffy icon*/
.shoffy{
    width:15%;
}
.navi-select select:focus{
    outline:0px;
}
/* 2 serch button*/
.search-input{
    width:44%;
    border: 2px solid #0989ff;
    display: flex;
    align-items: center;
}
.text-input input{
    width: 100%;
    border: 0;
    padding: 5px 50px 5px 15px;
}
.text-input:focus-within input{
    border: 0;
    outline: none;
}
.navi-select{
    width: 40px;
    border-left: 2px solid rgb(188,185,185);
    margin-right:200px;
    padding-right: 8%;
}
.navi-select select{
    border:0px;
    border: none;
    padding:0px 20px;
}
.search-icon{
    background-color: #0989ff;
    color: #ffffff;
    padding: 7px 25px;
    font-size: 25px;
}

/* 3  user */
.user-info{
    width: 15%;
}
.user-img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid rgb(232,226,226);
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-img i{
    font-size: 25px;
    color:gray;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-text{
  margin-left: 10px;
}
.hello{
    color: rgb(165,162,162);
    font-size: 12px;
}
.Account{
    font-size: 15px;
}
/* 4 small icon */
.icon{
    width: 15%;
    right: 0;
    position: relative;
}
.icon-1{
    font-size: 20px;
    margin: 10px;
}
.icon-2{
    font-size: 20px;
    margin: 10px;
}
.icon-3{
    font-size: 20px;
    margin: 10px;
}
.icon span i:hover{
    color:#0989ff;
}
.red{
    position:absolute;
    background-color: crimson;
    height:19px;
    width: 19px;
    border-radius: 100%;
    color:white;
    font-size: 12px;
    border: 2px solid white;
    align-items: center;
    text-align: center;
    display: inline-block;
    top:-8px;
    right: 42%;
}
.red-1{
position:absolute;
background-color: crimson;
height:19px;
width: 19px;
border-radius: 100%;
color:white;
font-size: 12px;
border: 2px solid white;
align-items: center;
text-align: center;
display: inline-block;
top:-8px;
right:17%;
z-index: 1;
}

/* navbar*/
#inherhead2{
    display: flex;
    justify-content: space-between;
    position: relative;
}
/* 1 drop box*/
.alldata{
  display: flex;
}
.fa-solid{
    position: relative;
    top:2px;
}
.alldatachild{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    transition: all 0.3s;
    position: relative;
}
.button{
    padding: 11px 39px;
    color: white;
    background-color: #0989ff;
    display: flex;
    font-size: 15px;
}
.button ul{
    margin-left: 12px;
    margin-right: 60px;
}
.button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.alldata:hover .head2-drop{
    display:block;
}
.head2drop{
    display: none;
    position: absolute;
    background-color: white;
    padding: 15px;
    width: 257px;
    border: 1px solid black;
    top:40px;
    z-index: 10;
}
.alldatalist{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    font-weight: 10px 0px;
    cursor: pointer;
}
.alldatalist img{
    width: 30px;
    height: 30px;
}
.sidelist li{
    font-size: 20px;
    padding: 5px;
}
.sidelist{
    position: absolute;
    left: 100%;
    top:0px;
    width: 200px;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    display: none;
}
.alldatalist:hover .sidelist{
    display: block;
}
/* 2.nav item*/
.nav-item{
    width: auto;
    display: flex;
    margin: auto;
    position: relative;
    right: 8%;
}
.head-2-drown{
    padding: 8px;
    font-size: 14px;
    transition: all 0.3s;
    font-weight: bold;
    position: relative;
    flex-wrap: wrap;
    padding-right: 15px;
}
.head-2-drown:hover{
 color: #0989ff;
 cursor: pointer;
}

/* 3 .contect*/
.head-2-contact{
    width:auto;
    display: flex;
    align-items: end;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 0px;
}
.head-2-contact p span{
    font-size: 12px;
    color: rgb(105,102,102);
}
.head-2-contact p{
    font-size: 14px;
}
.head-2-contact i{
    margin-right:10px;
}
.head-2-contact p:hover{ 
    color: #0989ff;
}

/* main part strat */
.best-bg{
    background-color: #115061;
    height: auto;
    position: relative;
}
.desing img{
    mix-blend-mode: luminosity;
    opacity: 0.1;
    position: absolute;
    right: 0px;
    top:0px
}
.bg-text{
    color: white;
    position: relative;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
}
.bg-text span{
    font-size: 16px;
}
.bg-text h1 b{
    font-size: 56px;
    font-weight: 900;
    flex-wrap: wrap;
}
.bg-text h2{
    margin-top:15px;
    font-family: 'oregano',cursive;
    margin-bottom:20px;
}
.o-img-1{
    position:absolute;
    right:33%;
    top:7%;
    z-index:0px;
}
.o-img-2{
    position:absolute;
    left: -20px;
    top:40%;
}
.o-img-3{
    position:absolute;
    bottom:13%;
    right:28%;
    z-index:-1;
}
.bg-text a{
    padding: 12px 25px;
    background: white;
    border-radius: 8px;
    color: black;
}
.bg-text a:hover{
    border:0.5px solid white;
    color: white;
    background-color: #115061;
}
.shiop-text{
    display: block;
    position: absolute;
    top: 100%;
}
.shop-text{
    margin-left: 5px;
    position: relative;
    top: 3px;
    font-size: 20px;
}
.banner{
    display: flex;
    height: inherit;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.wathch{
    width: 50%;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    padding-left: 15%;
}
.watch img{
         max-width: 360px;
         height: auto;
}
/* main section */
.main-section-1 {
    width: auto;
    margin-top: 70px;
 }
 
 .main-section-2
 {
    margin-bottom: 50px;
 }
 .part-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
 }
 
 .section-1 {
    height: 210px;
    width: 210px;
    border: 1px solid rgb(181, 223, 240);
    display: flex;
    flex-flow: wrap;
    background-color: rgb(223, 235, 241);
    border-radius: 100%;
    flex-direction: row;
    margin-bottom: 100px;
  
 }

 .star {
    color: #ffc107;
    font-size: 12px;
    font-weight: 500;
 }
 
 .line {
    font-size: 12px;
    text-decoration: line-through;
 }
 
 .rate {
    font-size: 15px;
    color: #0989ff;
    font-weight: 700;
    letter-spacing: 0.2pxlhjlp;
 }
 
 /* headphone */
 .headphone-image {
    margin: 60px;
    object-fit: cover;
    position: relative;
    align-items: center;
 }
 
 .headphone-image:hover img {
    transform: scale(1.2);
    transition: 0.3s;
 }
 .headphone-text {
    text-align: center;
 }
 
 .headphone-text h3:hover {
    color: #0989ff;
 }
 
 /* Moblie-tablests  */
 .Mobile-1-image {
    margin: 65px;
    margin-top: 50px;
    object-fit: cover;
    position: relative;
 }
 
 .Mobile-1-image:hover img {
    transform: scale(1.2);
    transition: 0.3s;
 }
 .Moblie-1-text {
    text-align: center;
 }
 
 .Moblie-1-text h3:hover {
    color: #0989ff
 }
 
 /* CPU Heat Pipes */
 .Pipes-1-image {
    margin: 60px;
    margin-top: 48px;
    object-fit: cover;
    position: relative;
 }
 
 .Pipes-1-image:hover img {
    transform: scale(1.2);
    transition: 0.3s;
 }
 
 .Pipes-1-text {
    text-align: center;
 }
 
 .Pipes-1-text h3:hover {
    color: #0989ff;
 }
 /* CPU Heat Pipes */
.SmartWatch-1-image {
    margin: 60px;
    object-fit: cover;
    position: relative;
 }
 
 .SmartWatch-1-image:hover img {
    transform: scale(1.2);
    transition: 0.3s;
 }
 
 .SmartWatch-1-text {
    text-align: center;
 }
 
 .SmartWatch-1-text h3:hover {
    color: #0989ff;
 }
 
 /* Bluetooth */
 .Bluetooth-1-image {
    margin: 65px 65px 50px 65px;
    margin-top: 30px;
    object-fit: cover;
    position: relative;
 }
 .Bluetooth-1-image:hover img {
    transform: scale(1.1);
    transition: 0.1s;
 }
 
 .Bluetooth-1-text {
    text-align: center;
 }
 
 .Bluetooth-1-text h3:hover {
    color: #0989ff;
 }
 
 /* ICON (SECTION-2)*/
 .section-2 {
    height: 100px;
    width: 23%;
    display: flex;
    background-color: rgb(236, 239, 241);
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
 }
 
 /* Free Delivary */
 .shipping-delivery-image i {
    color: red;
    font-size: 20px;
    align-items: flex-start;
    margin: 15px;
 }
 .shipping-delivery-text {
    margin-left: 10px;
 }
 
 .shipping-delivery {
    display: flex;
    align-items: center;
 }
 
 /* Return & Refunf */
 .Return-image i {
    color: red;
    font-size: 20px;
    align-items: flex-start;
    margin: 15px;
 }
 
 .Return-text {
    margin-left: 15px;
 }
 
 .Return {
    display: flex;
    align-items: center;
 }/* Member Discount*/
.Discount-image i {
    color: red;
    font-size: 20px;
    align-items: flex-start;
    margin: 15px;
 }
 
 .Discount-text {
    margin-left: 15px;
 }
 
 .Discount {
    display: flex;
    align-items: center;
 }
 
 /* support 24/7 */
 .Support-image i {
    color: red;
    font-size: 20px;
    align-items: flex-start;
    margin: 15px;
 }
 
 .Support-text {
    margin-left: 15px;
 }
 .Support {
    display: flex;
    align-items:center;
 }

 /* section-2 */
 .main-name{
    display: flex;
 }
 .asset{
    display: inline;
    position: relative;
    font-size: 20px;
    right:0;
 }

 .asset a{
    position: relative;
    top:20px;
    padding: 20px 30px;
 }
 .asset  .featured{
    color: rgb(201,200,200);
 }
 
 .asset .seller{
    color:rgb(201,200,200);
 }
 
 .main-name h1{
    color: black;
    font-size: 40px;
    margin-bottom:40px;
 }

 .main-name img{
    color: red;
    position: relative;
    bottom: 60px;
 }
 
 /* head phone*/
 .part-2{
    width:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-bottom: 50px;
 }
 .section-3{
    height:400px;
    border: 1px solid rgb(229,233,233);
    display:flex;
    flex-flow:wrap;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
    margin: 20px 5px;
 }

 .section-3:hover{
     box-shadow: 1px 1px 3px rgb(176,174,174);
 }
 
 .head-img img{
    object-fit: cover;
    overflow: hidden;
 }
 .head-img:hover:hover img{
    transform: scale(1.1);
    transition: 1s;
 }
 .head-img{
    position: relative;
 }
 .hover-containt {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 50px;
    transition: 1.5s;
 }
 .head-img:hover .hover-containt {
    display: block;
    transform: translate(30px);
    transform: scale(1.3);
    transition: 2s;
 }
 
 .head-text {
    padding: 20px;
    border-top: 1px solid rgb(229, 233, 233);
    line-height: 1.3;
 }
 
 

 /* 2 card*/
 .gam-img img{
    object-fit:cover;
    overflow: hidden;
 }
 .gam-img:hover:hover img{
    transform: scale(1.1);
    transition: 1s;
 }
 .gam-img{
    position: relative;
 }
 .gam-img:hover .hover-containt{
    display: block;
    transform: translate(30px);
    transform: scale(1.3);
    transition: 2s;
 }
 .gam-text{
    padding: 20px;
    border-top: 1px solid rgb(229,233,233);
 }

 /* 3 card */
 .mic-img img{
    object-fit: cover;
   overflow: hidden;
 }
 .mic-img:hover img{
    transform: scale(1.1);
    transition: 1s;
 }
 .mic-img{
    position: relative;
 }
 .out-stock{
    position: absolute;
   margin: 5px 5px 5px 150px;
   padding: 3px 3px;
   color: white;
   font-size: 12px;
   border-radius: 5px;
   z-index: 1;
   background-color: crimson;
 }
 .mic-img:hover .hover-containt{
    display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
 }
 .mic-text{
    padding: 20px;
    border-top: 1px solid rgb(229, 233, 233); 
 }