@import 'variable';



/*1. @at-root */

// .box-1{
//     height: 200px;
//     width: 200px;
//     background-color: pink;
//     @at-root
//     .box-2{
//          display: flex;
//          justify-content: center;
//          text-align: center;
//          @at-root
//          .box-4{
//               overflow: hidden;
//               text-align: center;
//          }
//     }
// }

body{
    background-color: $bg-3;
    display: flex;
    justify-content: center;
    // align-items: center;
    @at-root
    .round-1{
        height: $h-200;
        width: $w-200;
        background-color: $bg-1;
        border-radius: $border-radius-50;
        @at-root
        .round-2{
            height: $h-200;
            width: $w-200;
            background-color: $bg-2;
            border-radius: $border-radius-50;
            @at-root
            .box-1{
                height: $h-400;
                width: $w-300;
                background-color: $bg-4;
                border-radius: $border-radius-1;
                // color: $color-1;
                // opacity: 0.5;
                text-align: center;
                padding: $p-2;
                @at-root
                .img-1 img {
                    height: $h-100;
                    width: $h-100;
                    border: $border-1;
                    border-radius: $border-radius-50;
                    @at-root
                    .icon
                    {
                        display: flex;
                        padding: $p-2;
                        @at-root
                        .span-1{
                           padding-bottom: $p-1;
                            @at-root
                            .icon-1{
                                height: $h-40;
                                width: $w-40;
                                background-color: gray;
                                margin: 10px;
                                @at-root
                                button
                                {
                                    padding: $p-1 $p-3;
                                    margin: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

