.margin{

    height:100px;
    width:100px;
    background-color: aqua;
    margin: 50px;
}

.padding{
    height: 50px;
    width: 50px;
    background-color: cadetblue;
    padding: 50px;
    margin: 20px;   
}

.contant-box{
    height: 50px;
    width: 50px;
    background-color: cornflowerblue;
    padding: 50px;
    border:10px solid palevioletred
}

.border-box{
    height: 50px;
    width: 50px;
    background-color: black;
    padding: 50px;
    border: 10px solid purple;
    box-sizing: border-box;
}

.height{
    max-height: 500px;
   max-width: 500px;
    background-color: crimson;
    border: 10px solid black;
    padding: 50px;
    margin: 50px;
    
}

.box-shadow{
    height: 200px;
    width: 200px;
    background-color: chartreuse;
    box-shadow:50px
    50px 60px
}
