@media (max-width :1600px) {
    .img-text{
        padding: 1%;
    }
    .p-text{
        margin-top:11%;
    }
    .contact-btn-2{
        margin-left:5%;
        margin-top:34%;
    }
    /* .img2-text{     
         padding-top:90%;
    } */
}
@media (max-width :1240px) {
    .img-text{
        padding:1%;
    }
    .p-text{
        padding-top:4%;
        padding-left:3%;
    }
    .contact-btn-2{
    margin-top:37%;
    margin-left:3%;
    }  
}
@media (max-width :992px) {
    .img-text{
        padding:1%;
        padding-left:18%;
    }
    .p-text{
        padding-top:10%;
        padding-left:5%;
    }
    .contact-btn-2{
        margin-top:40%;
        margin-left:6%;
    } 
    
}

@media (max-width :767px) {
    .img-text{
        font-size: medium;
    }
   .p-text{
    font-size: small;
   }
    
 }

 @media (max-width :576px) {
    .img-text{
        padding-left:38%;
    }
    .p-text{
        margin-top:20%;
       padding-left:1%;
       margin-left: 0%;
       font-size: smaller;
       text-wrap: nowrap;
    }
    .header-img{
        object-fit:contain;
        max-width:100%;
        background-size: cover;

    }
    
    .contact-btn-2{
        margin-top:55%;
    }
    
 }


 @media (max-width :320px) {
   .img-text{
    padding-left:77%;
   
   }
   .header-img{
    width: 100%;
   }
   
   .p-text{
    padding-top:80%;
    text-wrap: wrap;
   }
   .contact-btn-2{
    margin-top:70%;
   }
 }