// @import'variable';
@use'variable' as*;

// @mixin card
// {
//     height: $h-4;
//     width: $w-3;
//     background-color: $bg-7;
//     border: $border-1;
//     padding: $p-1;
//     margin: $m-1;
//     @content;
// }

// @mixin image
// {
//    width: $w-1;
//    height: $h-1;
// }

// @mixin btn
// {
//    padding: 10px 20px;
//    background-color:$bg-7;
//    color:$color-2;
//    border-radius:$border-redius-40;
// }

// .box
// {
//     display: flex;
//     justify-content: space-between;
// }

// .card-1
// {
//     @include card{
//         text-align: center;
//     }
// }
// .card-2
// {
//     @include card{
//         text-align: center;
//         background-color: $bg-4;
//         color: $color-1;
//     }
// }
// .card-3
// {
//     @include card{
//         text-align: center;
//     }
// }

// img
// {
//     @include image;
// }

// button
// {
//     @include btn;
// }

 %box {
   height:$h-4;
   width:$w-3;
   background-color: $bg-7;
   border:$border-1;
   padding:$p-1;
   margin: $m-1;
   text-align: center;
}
%img
{
   width: $w-1;
   height: $h-1;
}
%btn
{
       padding: 10px 20px;
       background-color: $bg-6;
       color: $color-1;
       border-radius: $border-radius-40;
}
.box
{
    display: flex;
}
.card-1
{
    @extend %box;
   
}
.card-2
{
   @extend %box;
   background-color: $bg-4;
    color: $color-1;
}
.card-3
{
   @extend %box;
}
img
{
   @extend %img;
}
button
{
  @extend %btn;
}