@media(max-width:1400px){
    /* .container{
        max-width: 1320px;
    } */
}

@media(max-width:1200px){

    /* navbar */
    .user-text{
        display: none;
    }

    .red{
        right: 40%;
    }
  
    .red-1{
        right: 14%;
    }

    /* head-part */
    .watch{
        padding-left: 10%;
    }

    .section-2{
        width: 48%;
    }
}

/* laptop :992px up */
@media (max-width :992px) {

    /* secrch-button
    .nav-select {
        width: 50%;
    } */
    /*  USER ID */
    .search-input {
        display: none;
    }

    .user-info {
        display: none;
    }

    /* icon */
    .icon {
        width: 17%;
    }

    .icon-1 {
        display: none;
    }

    .icon-2 {
        display: none;
    }

    .red-1 {
        right: 76%;
    }

    #inherhead2 {
        display: none;
    }

    .watch {
        padding-left: 0px;
    }

    /* part-1 */
    .section-2 {
        width: 48%;
    }

    /* part-2 */
    .section-3 {
        height: 470px;
        width: 47%;
        border: 1px solid rgb(229, 233, 233);
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    .head-img img {
        height: 335px;
        width: 330px;
    }

    .gam-img img {
        height: 335px;
        width: 330px;
    }

    .mic-img img {
        height: 335px;
        width: 330px;
    }

    .galaxy-img img {
        height: 335px;
        width: 330px;
    }

    .iphone-img img {
        height: 335px;
        width: 330px;

    }

    .out-stock {
        display: flex;
        align-items: end;
    }

    .Apple-img img {
        height: 335px;
        width: 330px;
    }

    .DeepCoolr-img img {
        height: 335px;
        width: 330px;
    }

    .Air-img img {
        height: 335px;
        width: 330px;
    }

    /* section-4 */
    .add-2 {
        width: 680px;
        height: 250px;
    }

    .add-img-2 img {
        height: 250PX;
        width: 680px;
    }
}


/* tablets :768px up */
@media (max-width :767px) {

    .topbar {
        display: none;
    }

    /* secrch-button */
    .search-input {
        display: none;
    }

    /*  USER ID */
    .user-info {
        display: none;
    }

    /* icon  */
    .icon-1 {
        display: none;
    }

    .icon-2 {
        display: none;
    }

    /* Navbar */
    #inherhead2 {
        display: none;
    }

    .bg-text {
        width: 100%;
    }

    .bg-text h1 b {
        font-size: 56px;
        font-weight: 900;
    }

    /* watch */
    .watch {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: calc(20vw + 50px);
    }

    .banner {
        justify-content: center;
    }

    /* section-3 */
    .section-3 {
        height: 400px;
        width: 48%;
        border: 1px solid rgb(229, 233, 233);
        display: flex;
        flex-flow: wrap;
        border-radius: 5px;
        align-items: center;
        overflow: hidden;
        margin: 20px 5px;
    }

    .head-img img {
        height: 265px;
        width: 289px;
    }

    .gam-img img {
        height: 265px;
        width: 289px;
    }

    .mic-img img {
        height: 265px;
        width: 289px;
    }

    .out-stock {
        display: flex;
        align-items: end;
    }

    .galaxy-img img {
        height: 265px;
        width: 289px;
    }

    .iphone-img img {
        height: 265px;
        width: 289px;
    }

    .Apple-img img {
        height: 265px;
        width: 289px;
    }

    .DeepCoolr-img img {
        height: 265px;
        width: 289px;
    }

    .Air-img img {
        height: 265px;
        width: 289px;
    }

    /* add */
    .add-1 {
        width: 580px;
        margin-right: 0px;
    }

    .add-2 {
        width: 580px;
    }

    .add-img-1 img {
        width: 580px;
    }

    .add-img-2 img {
        width: 580px;
    }

}
/* large phone  :600px up */
@media (max-width :576px) {
    /* topbar */
    .topbar {
        display: none;
    }

    /* secrch-button */
    .search-input {
        display: none;
    }

    /*  USER ID */
    .user-info {
        display: none;
    }

    /* icon  */
    .icon-1 {
        display: none;
    }

    .icon-2 {
        display: none;
    }

    .red-1 {
        right: 49%;
    }

    /* Navbar */
    #inherhead2 {
        display: none;
    }

    .bg-text {
        width: 100%;
        margin-top: 70px;
    }

    .bg-text h1 b {
        font-size: 37px;
        font-weight: 900;
    }

    .banner {
        padding: 0;
    }

    /* watch */
    .watch {
        max-width: 260px;
        margin-top: 50px;
        margin-bottom: 0;
        margin-left: calc(0vw - 130px);
    }

    .banner {
        justify-content: center;
    }

    /* part-1 */
    .section-2 {
        width: 97%;
    }

    .section-3 {
        min-height: 500px;
        width: auto;
        border: 1px solid rgb(229, 233, 233);
        display: flex;
        flex-flow: wrap;
        border-radius: 5px;
        align-items: center;
        overflow: hidden;
        margin: 20px 5px;
    }

    .head-img img {
        min-height: 350px;
        width: auto;
    }

    .gam-img img {
        min-height: 350px;
        width: auto;
    }

    .mic-img img {
        min-height: 350px;
        width: auto;
    }

    .out-stock {
        display: flex;
        align-items: end;
    }

    .galaxy-img img {
        min-height: 350px;
        width: auto;
    }

    .iphone-img img {
        min-height: 350px;
        width: auto;
    }

    .Apple-img img {
        min-height: 350px;
        width: auto;
    }

    .DeepCoolr-img img {
        min-height: 350px;
        width: auto;
    }

    .Air-img img {
        min-height: 350px;
        width: auto;
    }

    /* add */

    .section-4 {
        display: block;
    }

    .add-1 {
        min-width: 420px;
        margin-right: 0px;
    }

    .add-2 {
        min-width: 420px;
    }

    .add-img-1 img {
        min-width: 420px;
    }

    .add-img-2 img {
        min-width: 420px;
    }

}





/* phone 320px down */
@media (max-width :320px) {

    /* topbar */
    .topbar {
        display: none;
    }

    /* secrch-button */
    .search-input {
        display: none;
    }

    /*  USER ID */
    .user-info {
        display: none;
    }

    /* icon  */
    .icon-1 {
        display: none;
    }

    .icon-2 {
        display: none;
    }

    /* Navbar */
    #inherhead2 {
        display: none;
    }

    /* main part */
    .best-bg {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .banner {
        padding: 0;
    }

    .bg-text {
        width: 100%;
        margin-top: 70px;
    }

    .bg-text span {
        font-size: 13px;
    }

    .bg-text h2 {
        font-size: 25px;
        display: block;
    }

    .watch {
        width: 100%;
        margin-top: 20%;
        margin-bottom: 20%;
        align-items: center;
        margin-left: calc(0vw - 40px);
    }

    .watch img {
        width: calc(100vw - 20px);
    }

    /* part-1 */
    .section-2 {
        width: 98%;
    }

    .add-1 {
        min-width: 250px;
    }

    .add-2 {
        min-width: 250px;
    }

    .add-img-1 img {
        min-width: 250px;
    }

    .add-img-2 img {
        min-width: 250px;
    }
}
































































/* Main-part-3 */
/* .Gaming_headphone {
        width: 42%;
        height: 570px;
        border: 1px solid rgb(229, 233, 233);
        justify-content: space-between;
        border-radius: 10px;
        background-color: white;
    }

    .Gaming_headphone-image img {
        display: flex;
        flex-wrap: wrap;
        max-height: 400px;
        max-width: 400px;
        margin: auto;
    }

    .Gaming_headphone-text {
        padding: 40px;
    }

     @media (max-width :1600px) {
        .icon-4 {
            display: none;
        }
    }
    
    
    @media (max-width :1200px) {
        .icon-4 {
            display: none;
        }
    
        .user-text {
            display: none;
        }
    
        .Gaming_headphone {
            width: 48%;
        }
    
        .antec_air_cooler {
            width: 48%;
        }
    
        .Sony_Lady_fitness_watch {
            display: none;
        }
    
        .section-5 {
            width: 45%;
        }
    
        .part-3-fix {
            width: 60%;
        }
    
        .section-7 {
            width: 30%;
        }
    
        /*4. Lenova */
        .Lenova {
            display: none;
        }
    
        .clothes {
            display: none;
        }
    
        .ceramics {
            width: 48%;
        }
    
        .climates {
            width: 48%;
        }
     
    
    
    
    /* laptop :992px up */
    @media (max-width :992px) {
        .search-input {
            display: none;
        }
    
        .user-info {
            display: none;
        }
    
        .icon {
            width: auto;
        }
    
        .icon-1 {
            display: none;
        }
    
        .icon-2 {
            display: none;
        }
    
        .icon-4 {
            display: block;
        }
    
        #inherhead2 {
            display: none;
        }
    
        .bg-text h1 {
            font-size: 45px;
        }
    
        /* section-2 */
        .section-2 {
            width: 49%;
        }
    
        .section-3 {
            width: 48%;
        }
    
        .main_part_name h1 {
            font-size: 30px;
        }
    
        .main_part_name-1 h1 {
            font-size: 30px;
        }
    
        .background-text h1 {
            font-size: 35px;
        }
    
        .background-text {
            width: 75%;
        }
    
        .background-image {
            width: 100%;
        }
    
        .section-7 {
            width: 48%;
        }
    
        .Sony_Lady_Fitness_Watch {
            display: none;
        }
    
        .main_part_name-2 h1 {
            font-size: 30px;
        }
    
        .main_part_name-4 h1 {
            font-size: 30px;
        }
        .div-1
        {
            width: 33%;
        }
        .div-2
        {
            width: 33%;
        }
        .div-3
        {
            width: 33%;
        }
        .div-4
        {
            width: 33%;
        }
    }
    
    
    /* tablets :768px up */
    @media (max-width :767px) {
        .topbar {
            display: none;
        }
    
        .bg-text {
            width: 100%;
        }
    
        .Gaming_headphone {
            width: 90%;
        }
    
        .antec_air_cooler {
            width: 90%;
        }
    
        .section-5 {
            width: 80%;
        }
    
        .part-3-fix {
            width: 60%;
        }
    
        .climates {
            display: none;
        }
    
        .ceramics {
            width: 100%;
        }
        .div-1
    {
        width: 50%;
    }
    .div-2
    {
        width: 50%;
    }
    .div-3
    {
        width: 50%;
    }
    .div-4
    {
        width: 50%;
    }
    
    
    }
    
    /* large phone  :600px up */
    @media (max-width :576px) {
        .bg-text h1 {
            font-size: 37px;
        }
    
        .watch {
            width: 100%;
            padding-left: 0;
        }
    
        .section-2 {
            width: 100%;
        }
    
        .section-3 {
            width: 100%;
        }
    
        .Gaming_headphone {
            width: 100%;
            height: 15%;
        }
    
        .antec_air_cooler {
            width: 100%;
            height: 12%;
        }
    
        .main_part_name-1 img {
            top: 70%;
        }
    
        .background {
            margin: 20px;
        }
    
        .background-text {
            width: 100%;
        }
    
        .back-image-1 {
            top: 45px;
            margin-bottom: 50px;
        }
    
        .back-image-2 {
            top: 30px;
        }
    
        .section-7 {
            width: 100%;
        }
    
        .Sony_Smart_Watch {
            display: none;
        }
    
        .section-9 {
            margin-top: 80px;
        }
    
        .images-1 {
            height: 100%;
            width: 100%;
    
        }
    
        .images-1 img {
            height: 100%;
            width: 100%;
        }
    
        .instagram-icon-1 {
            height:100%;
            width: 100%;
        }
    
        .overlay {
            height:100%;
            width: 100%;
    }
    .div-1
    {
        width: 100%;
    }
    .div-2
    {
        width: 100%;
    }
    .div-3
    {
        width: 100%;
    }
    .div-4
    {
        width: 100%;
    }
    }
    /* phone 320px down */
    @media (max-width :320px) {}
    
    



























    