/* BIG BURDER */
.conteint
{
    height: 500px;
    width: 1380px;
    border: 3px solid black;
}

main{
    display: flex;
    position: relative;
}

img{
    position: absolute;
    top:50px;
    left: 930px;
    border-radius: 10px;
}

.text
{
    position: absolute;
    top:70px;
    margin-top: 10px;
    left: 1150px;
}

.text h3
{
    color: azure;
    font-weight: bold;
    text-transform: uppercase;
}

.text h1{
    color: yellow;
    font-weight: 900;
    text-transform: uppercase;
}

.bg{
    position: absolute;
    top:60px;
    margin-top: 140px;
    left: 1150px;
    height: 40px;
    width: 100px;
    background-color: white;
}

.bg p
{
    text-align: center;
}



/* NODELS */


.bg-1
{
    position: absolute;
    top: 50px;
    left:  550px;
    height: 200px;
    width: 350px;
    border-radius: 10px;
    background-color: red;
}

.bg-1 img{
    height: 250px;
    width: 150px;
    position: absolute;
    top: -50px;
    /* left: 570px; */
    left: 0;
    margin: auto;
}

.text-1 h3{
    position: absolute;
    top:70px;
    left: 700px;
    text-transform: uppercase;
    color: white;
}

.text-1 h1{
    position: absolute;
    top:100px;
    left: 700px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
}

.text-1 h2{
    position: absolute;
    top:150px;
    left: 700px;
    font-weight: 900;
    color: yellow;
    bottom: 10px;
}

.text-1 p{
    position: absolute;
    top: 190px;
    left: 700px;
    height: 40px;
    width: 100px;
    background-color: white;
    text-align: center;
}



/*  BURGER BOX-1 */
.box-3
{
    border-radius: 10px;
    position: absolute;
    height: 400px;
    width: 400px;
    top:50px;
    margin-left: 50px;
    background-color:teal;
    background-image: url("desing.png");
    
}


.box h1{
    position: absolute;
    left: 250px;
    top:300px;
}

.bg-2 img{
    position: absolute;
    height: 300px;
    width: 420px;
    top: 100px;
    left: -20px;
}

.bg-3 img{
    position: absolute;
    height: 110px;
    width: 95px;
    left: 275px;
    top:275px;
  /*  background-image: url("asset\ 41.png")*/

}


.text-2 h3
{
    position: absolute;
    left: 140px;
    top: 10px;
    font-weight: 900;
    color: white;
    text-transform: uppercase
}

.text-2 h1
{
    position: absolute;
    top:40px;
    left: 100px;
    font-weight: 900;
    color: yellow;
    text-transform: uppercase
}


/* BOX-4 */


.box-4
{
    border-radius: 10px;
    position: absolute;
    height: 150px;
    width: 780px;
    top:300px;
    left: 550px;
    background-color: rgb(5, 113, 5);
    background-image: url("full_desing.png");
}


.bg-4 img{
    height: 210px;
    width: 210px;
    left: -50px;
    top: 0px;
}

.bg-4{
    position: absolute;
    top:-20px;
    left: 40px;
}

.text-3 h3{
    position: absolute;
    top: 10px;
    left: 250px;
    color: white;
    text-transform: uppercase;
}

.text-3 h1{
    position: absolute;
    top:40px;
    left: 250px;
    color: white;
    text-transform: uppercase;
}

.add-1
{
    position: absolute;
    background-color: white;
    top: 50px;
    left: 570px;
    height: 40px;
   width:100px;
}