*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

/* css online font */
 p{
    font-family: 'Roboto', sans-serif;
}  

/* css offline font  */



/* css display properties */
/* 
.box-1 ,.box-2 ,.box-3,.box-4,.box-5
{
    height: 200px;
    width: 200px;
    background-color: pink;
    border:2px solid black;
    display: inline-block;
    background-image: url("image/forest.jpeg");
    margin-left: 10px;
} */

.mainbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

span{
    height: 200px;
    width: 200px;
    background-color: brown;
    margin: 50px;
    display: inline;
}

/* Css flex properties */

/* 1.flex-gorw */

.flex-grow
{
    height: 500px;
    width: 1000px;
    display:flex;
    border: 2px solid black;
}

.box-1{
    height: 100px;
    width: 100px;
    background-color:coral;
}

.box-2{
    height: 100px;
    width: 100px;
    background-color: crimson;
}

.box-3{
    height: 200px;
    width: 200px;
    background-color: cornflowerblue;
}

.box-4{
    height: 100px;
    width: 100px;
    background-color: darkcyan;
}

.box-5{
    height: 100px;
    width: 100px;
    background-color:darkorange;
}