@use'index.scss';

body{
   background-color: cadetblue;
}
$bg-1:black;
$bg-2:yellow;
$bg-3:blue;
$h-1:100px;
$h-2:200px;
$w-1:100px;
$w-2:200px;

.box{
   height: $h-1;
   width: $w-1;  
   background-color: $bg-1; 
}
   