*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    margin: 0;
}

.fixed{
    height: 100px;
    width: 200px;
    background-color:crimson;
    position:fixed;
    justify-content:center;
    display:flex;
    right:0;
}  

.maindiv{
    position: relative;
    width: 1000px;
    border: 2px solid black;
    height: 1000px;
}
.maindiv .box-1{
    height: 150px;
    width: 150px;
}

.maindiv div:nth-child(1){
    background-color: coral;
    position: absolute;
    bottom:0;
}

.maindiv div:nth-child(2)
{
    background-color: cornflowerblue;
    position: absolute;
    right: 0;

}
.maindiv div:nth-child(3){
    background-color:darkcyan;
    position: absolute;
    bottom: 0;
    right: 0;
 }
 
 
 .maindiv div:nth-child(4){
    background-color: cornflowerblue;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
 }
 
 
 .maindiv div:nth-child(5){
    background-color:blueviolet;
    position: absolute;
    left:0;
    right: 0;
    margin:auto;
 }
 
 
 .maindiv div:nth-child(6){
    background-color: purple;
    position: absolute;
    bottom: 0;
    top:0;
    left:0;
    right: 0;
    margin:auto;
 }

 .maindiv div:nth-child(7){
    background-color:red;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
 }
 